{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': 'Password',
            'attr': {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-label'}}) }}
</br>
        <button type="submit" class="btn btn-warning">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
